services:
  - type: web
    name: indonesische-recepten-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NEO4J_URI
        sync: false
      - key: NEO4J_USERNAME
        sync: false
      - key: NEO4J_PASSWORD
        sync: false
      - key: NEO4J_DATABASE
        fromSecret: neo4j-database
